.DS_Store
._*
.AppleDouble
.project
.settings
.idea
public/app/etc/local.xml
public/var/locks/*
public/var/cache/*
public/downloader/*.cfg
public/var/report/*
public/var/session/*
public/var/log/*
public/.gitignore
public/var/package/tmp/
vendor/
composer.lock
public/downloader/.cache
